#demo-progress-pagination {
  .slide {
    width: 100%;
    background: #e4e4e4;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
  }

  sx-slider-progress {
    display: block;
    position: relative;
    width: 100%;
    height: 4px; 
    background: #96bfff6f; 
    overflow: hidden;
    border-radius: 2px;
  }

  .sx-slider-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #78a5ee; 
    will-change: transform;
  }
}
