#demo-default {
  .slide {
    width: 100%;
    background: #e4e4e4;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
  }

  .prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }

  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
}
