body {
  font-family: "Poppins", sans-serif;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.m-10 {
  margin: 10px;
}

.gp-20 {
  gap: 20px;
}
.pb-20 {
  padding-bottom: 20px;
}

.h30 {
  height: 30vh;
}
.h50 {
  height: 50vh;
}

.box {
  width: 200px;
  height: 200px;
  background-color: #ccc;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: black;
}

.red {
  background: rgb(255, 104, 104);
}

.blue {
  background: rgb(124, 124, 255);
}

.green {
  background: rgb(114, 255, 114);
}

.yellow {
  background: rgb(255, 255, 98);
}

.tabs {
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: fit-content;
  margin: auto;
}

.tabs__item {
  padding: 5px 10px;
}
