#demo-fraction-pagination {
  .slide {
    width: 100%;
    background: #e4e4e4;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
  }
  sx-slider-pagination[effect="fraction"] {
    display: flex;
    gap: 0px;
  }
}
