sx-slider {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
}

sx-slider[direction="vertical"] sx-slider-track {
  flex-direction: column;
}

sx-slider[direction="vertical"] {
  height: var(--sx-slider-height, 500px);
  display: block;
}

sx-slider-track {
  display: flex;
  width: 100%;
  height: 100%;
  will-change: transform;
  cursor: default;
}

sx-slider-track[grab-cursor] {
  cursor: grab;
}

sx-slider-track[grab-cursor]:active {
  cursor: grabbing;
}

sx-slider-slide {
  display: block;
  flex-shrink: 0;
  width: 100%;
}

sx-slider-prev,
sx-slider-next {
  cursor: pointer;
  user-select: none;
}

/* =========================================
    HIỆU ỨNG FADE 
========================================= */

/* Khi ở chế độ fade, khóa hoàn toàn dịch chuyển vật lý của Track */
sx-slider[data-active-effect="fade"] sx-slider-track {
  transform: none !important;
}

/* Xếp chồng tất cả các Slide lên nhau và ẩn đi */
sx-slider[data-active-effect="fade"] sx-slider-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none; /* Tránh click nhầm slide dưới */
  transition: opacity var(--sx-speed, 300ms) ease-in-out;
  z-index: 0;
}

/* Chỉ làm nổi bật và hiện Slide đang Active */
sx-slider[data-active-effect="fade"] sx-slider-slide[sx-slide-active] {
  opacity: 1;
  pointer-events: auto;
  z-index: 1;
}

/* Giữ slide đầu tiên trong Document Flow để đẩy chiều cao cho Slider cha */
sx-slider[data-active-effect="fade"] sx-slider-slide:first-child {
  position: relative !important;
}

/* KHÔI PHỤC TRẠNG THÁI KHI KHÔNG PHẢI FADE (MÀN HÌNH LỚN) */
sx-slider:not([data-active-effect="fade"]) sx-slider-slide {
  position: relative !important;
  top: auto;
  left: auto;
  opacity: 1 !important;
  pointer-events: auto !important;
  transition: none;
}